<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.nuevo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        tools:ignore="CoarseFineLocation" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/tesjo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/faces"
        android:supportsRtl="true"
        android:theme="@style/Theme.Nuevo"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".lector_qr"
            android:exported="true" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".qr"
            android:exported="true" />
        <activity
            android:name=".Main_alumnos_docentes"
            android:exported="true" />
        <activity
            android:name=".encuesta"
            android:exported="true" />
        <activity
            android:name=".MainActivity2_student"
            android:exported="true"
            android:parentActivityName=".MainActivity2_student" />
        <activity
            android:name=".perfil"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>